.board-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .board {
    width: auto;
    margin: auto;
    background-color: #f6f7f9;
    border-radius: 4px;
    border: 1px solid #e7dbdb;
    background-image: url('../../../public/paris.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row {
    display: flex;
  }

  .column {
    width: 21px;
    height: 21px;
    // border: 0.1px solid lightgray;
    cursor: pointer;

    &.full {
      background-color: transparent;
    }
    &.empty {
      background-color: black;
    }
  }

  .user-info-container {
    display: flex;
    justify-content: center;
  }

  .start-game {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .options {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}
