.error {
  color: 'red';
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.hello {
  margin-bottom: 21px;
}
.message {
    
}